<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinyengine.it.mapper.ComponentLibraryMapper">

    <!-- 通用设置 -->

    <!-- 通用查询列 -->
    <sql id="Base_Column_List">
        id
        , version, `name`, package, registry, framework, description, script, css, bundle, dependencies, `others`, thumbnail, `public`, is_started, is_official, is_default, created_by, last_updated_by, created_time, last_updated_time,
        tenant_id, renter_id, site_id
    </sql>

    <!-- 通用条件列 -->
    <sql id="ComponentLibraryByCondition">
        <if test="version!=null and version!=''">
            AND version = #{version}
        </if>
        <if test="name!=null and name!=''">
            AND `name` = #{name}
        </if>
        <if test="packageName!=null and packageName!=''">
            AND package = #{packageName}
        </if>
        <if test="registry!=null and registry!=''">
            AND registry = #{registry}
        </if>
        <if test="description!=null and description!=''">
            AND description = #{description}
        </if>
        <if test="framework!=null and framework!=''">
            AND framework = #{framework}
        </if>
        <if test="script!=null and script!=''">
            AND script = #{script}
        </if>
        <if test="css!=null and css!=''">
            AND css = #{css}
        </if>
        <if test="bundle!=null and bundle!=''">
            AND bundle = #{bundle}
        </if>
        <if test="others!=null and others!=''">
            AND `others` = #{others}
        </if>
        <if test="thumbnail!=null and thumbnail!=''">
            AND thumbnail = #{thumbnail}
        </if>
        <if test="publicStatus!=null and publicStatus!=''">
            AND `public` = #{publicStatus}
        </if>
        <if test="isStarted!=null and isStarted!=''">
            AND is_started = #{isStarted}
        </if>
        <if test="isOfficial!=null and isOfficial!=''">
            AND is_official = #{isOfficial}
        </if>
        <if test="isDefault!=null and isDefault!=''">
            AND is_default = #{isDefault}
        </if>
        <if test="createdBy!=null and createdBy!=''">
            AND created_by = #{createdBy}
        </if>
        <if test="lastUpdatedBy!=null and lastUpdatedBy!=''">
            AND last_updated_by = #{lastUpdatedBy}
        </if>
        <if test="createdTime!=null and createdTime!=''">
            AND created_time = #{createdTime}
        </if>
        <if test="lastUpdatedTime!=null and lastUpdatedTime!=''">
            AND last_updated_time = #{lastUpdatedTime}
        </if>
        <if test="tenantId!=null and tenantId!=''">
            AND tenant_id = #{tenantId}
        </if>
        <if test="renterId!=null and renterId!=''">
            AND renter_id = #{renterId}
        </if>
        <if test="siteId!=null and siteId!=''">
            AND site_id = #{siteId}
        </if>
    </sql>

    <!-- 通用设置列 -->
    <sql id="ComponentLibrarySetColumns">
        <if test="version!=null and version!=''">
            version = #{version},
        </if>
        <if test="name!=null and name!=''">
            `name` = #{name},
        </if>
        <if test="packageName!=null and packageName!=''">
            `package` = #{packageName},
        </if>
        <if test="registry!=null and registry!=''">
            registry = #{registry},
        </if>
        <if test="description!=null and description!=''">
            description = #{description},
        </if>
        <if test="framework!=null and framework!=''">
            framework = #{framework},
        </if>
        <if test="script!=null and script!=''">
            script = #{script},
        </if>
        <if test="css!=null and css!=''">
            css = #{css},
        </if>
        <if test="bundle!=null and bundle!=''">
            bundle = #{bundle},
        </if>
        <if test="others!=null and others!=''">
            `others` = #{others},
        </if>
        <if test="thumbnail!=null and thumbnail!=''">
            thumbnail = #{thumbnail},
        </if>
        <if test="publicStatus!=null and publicStatus!=''">
            `public` = #{publicStatus},
        </if>
        <if test="isStarted!=null and isStarted!=''">
            is_started = #{isStarted},
        </if>
        <if test="isOfficial!=null and isOfficial!=''">
            is_official = #{isOfficial},
        </if>
        <if test="isDefault!=null and isDefault!=''">
            is_default = #{isDefault},
        </if>
        <if test="createdBy!=null and createdBy!=''">
            created_by = #{createdBy},
        </if>
        <if test="lastUpdatedBy!=null and lastUpdatedBy!=''">
            last_updated_by = #{lastUpdatedBy},
        </if>
        <if test="createdTime!=null and createdTime!=''">
            created_time = #{createdTime},
        </if>
        <if test="lastUpdatedTime!=null and lastUpdatedTime!=''">
            last_updated_time = #{lastUpdatedTime},
        </if>
        <if test="tenantId!=null and tenantId!=''">
            tenant_id = #{tenantId},
        </if>
        <if test="renterId!=null and renterId!=''">
            renter_id = #{renterId},
        </if>
        <if test="siteId!=null and siteId!=''">
            site_id = #{siteId},
        </if>
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="ComponentLibraryMap" type="com.tinyengine.it.model.entity.ComponentLibrary">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="name" property="name"/>
        <result column="package" property="packageName"/>
        <result column="registry" property="registry"/>
        <result column="description" property="description"/>
        <result column="framework" property="framework"/>
        <result column="script" property="script"/>
        <result column="css" property="css"/>
        <result column="bundle" property="bundle"/>
        <result column="dependencies" property="dependencies"/>
        <result column="others" property="others"/>
        <result column="thumbnail" property="thumbnail"/>
        <result column="is_official" property="isOfficial"/>
        <result column="is_default" property="isDefault"/>
        <result column="is_started" property="isStarted"/>
        <result column="created_by" property="createdBy"/>
        <result column="last_updated_by" property="lastUpdatedBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="last_updated_time" property="lastUpdatedTime"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="renter_id" property="renterId"/>
        <result column="site_id" property="siteId"/>
        <collection  property="components" ofType="com.tinyengine.it.model.entity.Component">
            <id column="componentId" property="id"/>
            <result column="componentVersion" property="version"/>
            <result column="componentName" property="name"/>
            <result column="name_en" property="component"/>
            <result column="icon" property="icon"/>
            <result column="componentDescription" property="description"/>
            <result column="doc_url" property="docUrl"/>
            <result column="screenshot" property="screenshot"/>
            <result column="tags" property="tags"/>
            <result column="keywords" property="keywords"/>
            <result column="dev_mode" property="devMode"/>
            <result column="npm" property="npm"/>
            <result column="group" property="group"/>
            <result column="category" property="category"/>
            <result column="priority" property="priority"/>
            <result column="snippets" property="snippets"/>
            <result column="schema_fragment" property="schemaFragment"/>
            <result column="configure" property="configure"/>
            <result column="componentPublic" property="publicStatus"/>
            <result column="componentFramework" property="framework"/>
            <result column="isOfficial" property="isOfficial"/>
            <result column="isDefault" property="isDefault"/>
            <result column="tiny_reserved" property="isTinyReserved"/>
            <result column="component_metadata" property="componentMetadata"/>
            <result column="library_id" property="libraryId"/>
            <result column="componentCreatedBy" property="createdBy"/>
            <result column="componentLastUpdatedBy" property="lastUpdatedBy"/>
            <result column="componentCreatedTime" property="createdTime"/>
            <result column="componentLastUpdatedTime" property="lastUpdatedTime"/>
            <result column="componentTenantId" property="tenantId"/>
            <result column="componentRenterId" property="renterId"/>
            <result column="componentSiteId" property="siteId"/>
        </collection>
    </resultMap>

    <!-- 查询表t_component_library所有数据 -->
    <select id="queryAllComponentLibrary" resultMap="ComponentLibraryMap">
        SELECT
            CL.id,
            CL.version,
            CL.`name`,
            CL.package,
            CL.registry,
            CL.framework,
            CL.description,
            CL.script,
            CL.css,
            CL.bundle,
            CL.dependencies,
            CL.`others`,
            CL.thumbnail,
            CL.`public`,
            CL.is_started,
            CL.is_official,
            CL.is_default,
            CL.created_by,
            CL.last_updated_by,
            CL.created_time,
            CL.last_updated_time,
            CL.tenant_id,
            CL.renter_id,
            CL.site_id,
            C.id AS componentId,
            C.version AS componentVersion,
            C.name AS componentName,
            C.name_en,
            C.icon,
            C.description AS componentDescription,
            C.doc_url,
            C.screenshot,
            C.tags,
            C.keywords,
            C.dev_mode,
            C.npm,
            C.`group`,
            C.category,
            C.priority,
            C.snippets,
            C.schema_fragment,
            C.configure,
            C.`public` AS componentPublic,
            C.framework AS componentFramework,
            C.is_official AS isOfficial,
            C.is_default AS isDefault,
            C.tiny_reserved,
            C.component_metadata,
            C.library_id,
            C.created_by AS componentCreatedBy,
            C.last_updated_by AS componentLastUpdatedBy,
            C.created_time AS componentCreatedTime,
            C.last_updated_time AS componentLastUpdatedTime,
            C.tenant_id AS componentTenantId,
            C.renter_id AS componentRenterId,
            C.site_id AS componentSiteId
        FROM t_component_library CL
        LEFT JOIN t_component C ON CL.id = C.library_id

    </select>

    <!-- 根据主键id查询表t_component_library信息 -->
    <select id="queryComponentLibraryById" resultMap="ComponentLibraryMap">
        SELECT
        CL.id,
        CL.version,
        CL.`name`,
        CL.package,
        CL.registry,
        CL.framework,
        CL.description,
        CL.script,
        CL.css,
        CL.bundle,
        CL.dependencies,
        CL.`others`,
        CL.thumbnail,
        CL.`public`,
        CL.is_started,
        CL.is_official,
        CL.is_default,
        CL.created_by,
        CL.last_updated_by,
        CL.created_time,
        CL.last_updated_time,
        CL.tenant_id,
        CL.renter_id,
        CL.site_id
        C.id AS componentId,
        C.version AS componentVersion,
        C.name AS componentName,
        C.name_en,
        C.icon,
        C.description AS componentDescription,
        C.doc_url,
        C.screenshot,
        C.tags,
        C.keywords,
        C.dev_mode,
        C.npm,
        C.`group`,
        C.category,
        C.priority,
        C.snippets,
        C.schema_fragment,
        C.configure,
        C.`public` AS componentPublic,
        C.framework AS componentFramework,
        C.is_official AS isOfficial,
        C.is_default AS isDefault,
        C.tiny_reserved,
        C.component_metadata,
        C.library_id,
        C.created_by AS componentCreatedBy,
        C.last_updated_by AS componentLastUpdatedBy,
        C.created_time AS componentCreatedTime,
        C.last_updated_time AS componentLastUpdatedTime,
        C.tenant_id AS componentTenantId,
        C.site_id AS componentSiteId
        FROM t_component_library CL
        LEFT JOIN t_component C ON CL.id = C.library_id
        <where>
            <if test="id != null">
                AND CL.id = #{id}
            </if>
        </where>
    </select>

    <!-- 根据条件查询表t_component_library数据 -->
    <select id="queryComponentLibraryByCondition" resultMap="ComponentLibraryMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_component_library
        WHERE 1=1
        <include refid="ComponentLibraryByCondition"/>
    </select>

    <!-- 根据主键id删除表t_component_library数据 -->
    <delete id="deleteComponentLibraryById">
        DELETE
        FROM t_component_library
        WHERE id = #{id}
    </delete>

    <!-- 根据主键id更新表t_component_library数据 -->
    <update id="updateComponentLibraryById" parameterType="com.tinyengine.it.model.entity.ComponentLibrary">
        UPDATE t_component_library
        <set>
            <include refid="ComponentLibrarySetColumns"/>
        </set>
        WHERE id=#{id}
    </update>

    <!-- 新增表t_component_library数据 -->
    <insert id="createComponentLibrary" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.tinyengine.it.model.entity.ComponentLibrary">
        INSERT INTO t_component_library ( id
                                        , version
                                        , `name`
                                        , package
                                        , registry
                                        , framework
                                        , description
                                        , script
                                        , css
                                        , bundle
                                        , dependencies
                                        , `others`
                                        , thumbnail
                                        , `public`
                                        , is_started
                                        , is_official
                                        , is_default
                                        , created_by
                                        , last_updated_by
                                        , created_time
                                        , last_updated_time
                                        , tenant_id
                                        , renter_id
                                        , site_id)
        VALUES ( #{id}
               , #{version}
               , #{name}
               , #{packageName}
               , #{registry}
               , #{framework}
               , #{description}
               , #{script}
               , #{css}
               , #{bundle}
               , #{dependencies}
               , #{others}
               , #{thumbnail}
               , #{publicStatus}
               , #{isStarted}
               , #{isOfficial}
               , #{isDefault}
               , #{createdBy}
               , #{lastUpdatedBy}
               , #{createdTime}
               , #{lastUpdatedTime}
               , #{tenantId}
               , #{renterId}
               , #{siteId})
    </insert>
</mapper>
