<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinyengine.it.mapper.PageTemplateMapper">

    <!-- 通用设置 -->

    <!-- 通用查询列 -->
    <sql id="Base_Column_List">
        id
        , name, page_content, framework, published, `public`, `type`, status, is_preset, image_url, description,
        platform_id, created_by, last_updated_by, created_time, last_updated_time, tenant_id, renter_id, site_id
    </sql>

    <!-- 通用条件列 -->
    <sql id="PageTemplateByCondition">
        <if test="name!=null and name!=''">
            AND name = #{name}
        </if>
        <if test="pageContent!=null and pageContent!=''">
            AND page_content = #{pageContent}
        </if>
        <if test="framework!=null and framework!=''">
            AND framework = #{framework}
        </if>
        <if test="published!=null">
            AND published = #{published}
        </if>
        <if test="publicStatus!=null">
            AND `public` = #{publicStatus}
        </if>
        <if test="type!=null and type!=''">
            AND `type` = #{type}
        </if>
        <if test="status!=null and status!=''">
            AND status = #{status}
        </if>
        <if test="isPreset!=null">
            AND is_preset = #{isPreset}
        </if>
        <if test="imageUrl!=null and imageUrl!=''">
            AND image_url = #{imageUrl}
        </if>
        <if test="description!=null and description!=''">
            AND description = #{description}
        </if>
        <if test="platformId!=null and platformId!=''">
            AND platform_id = #{platformId}
        </if>
        <if test="createdBy!=null and createdBy!=''">
            AND created_by = #{createdBy}
        </if>
        <if test="lastUpdatedBy!=null and lastUpdatedBy!=''">
            AND last_updated_by = #{lastUpdatedBy}
        </if>
        <if test="createdTime!=null and createdTime!=''">
            AND created_time = #{createdTime}
        </if>
        <if test="lastUpdatedTime!=null and lastUpdatedTime!=''">
            AND last_updated_time = #{lastUpdatedTime}
        </if>
        <if test="tenantId!=null and tenantId!=''">
            AND tenant_id = #{tenantId}
        </if>
        <if test="renterId!=null and renterId!=''">
            AND renter_id = #{renterId}
        </if>
        <if test="siteId!=null and siteId!=''">
            AND site_id = #{siteId}
        </if>
    </sql>

    <!-- 通用设置列 -->
    <sql id="PageTemplateSetColumns">
        <if test="name!=null and name!=''">
            name = #{name},
        </if>
        <if test="pageContent!=null and pageContent!=''">
            page_content = #{pageContent},
        </if>
        <if test="framework!=null and framework!=''">
            framework = #{framework},
        </if>
        <if test="published!=null">
            published = #{published},
        </if>
        <if test="publicStatus!=null">
            `public` = #{publicStatus},
        </if>
        <if test="type!=null and type!=''">
            `type` = #{type},
        </if>
        <if test="status!=null and status!=''">
            status = #{status},
        </if>
        <if test="isPreset!=null">
            is_preset = #{isPreset},
        </if>
        <if test="imageUrl!=null and imageUrl!=''">
            image_url = #{imageUrl},
        </if>
        <if test="description!=null and description!=''">
            description = #{description},
        </if>
        <if test="platformId!=null and platformId!=''">
            platform_id = #{platformId},
        </if>
        <if test="createdBy!=null and createdBy!=''">
            created_by = #{createdBy},
        </if>
        <if test="lastUpdatedBy!=null and lastUpdatedBy!=''">
            last_updated_by = #{lastUpdatedBy},
        </if>
        <if test="createdTime!=null and createdTime!=''">
            created_time = #{createdTime},
        </if>
        <if test="lastUpdatedTime!=null and lastUpdatedTime!=''">
            last_updated_time = #{lastUpdatedTime},
        </if>
        <if test="tenantId!=null and tenantId!=''">
            tenant_id = #{tenantId},
        </if>
        <if test="renterId!=null and renterId!=''">
            renter_id = #{renterId},
        </if>
        <if test="siteId!=null and siteId!=''">
            site_id = #{siteId},
        </if>
    </sql>


    <!-- 通用查询映射结果 -->
    <resultMap id="PageTemplateMap" type="com.tinyengine.it.model.entity.PageTemplate">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="page_content" property="pageContent"/>
        <result column="framework" property="framework"/>
        <result column="published" property="published"/>
        <result column="public" property="publicStatus"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="is_preset" property="isPreset"/>
        <result column="image_url" property="imageUrl"/>
        <result column="description" property="description"/>
        <result column="platform_id" property="platformId"/>
        <result column="created_by" property="createdBy"/>
        <result column="last_updated_by" property="lastUpdatedBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="last_updated_time" property="lastUpdatedTime"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="renter_id" property="renterId"/>
        <result column="site_id" property="siteId"/>
    </resultMap>

    <!-- 查询表t_page_template所有数据 -->
    <select id="queryAllPageTemplate" resultMap="PageTemplateMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_page_template
        WHERE `type` = #{type}
    </select>
    <!-- 模糊查询表t_page_template所有数据 -->
    <select id="queryPageTemplateByName" resultMap="PageTemplateMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_page_template
        WHERE `type` = #{type} and name like concat('%',#{name},'%')
    </select>
    <!-- 根据主键id查询表t_page_template信息 -->
    <select id="queryPageTemplateById" resultMap="PageTemplateMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_page_template
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>

        </where>
    </select>

    <!-- 根据条件查询表t_page_template数据 -->
    <select id="queryPageTemplateByCondition" resultMap="PageTemplateMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_page_template
        WHERE 1=1
        <include refid="PageTemplateByCondition"/>
    </select>

    <!-- 根据主键id删除表t_page_template数据 -->
    <delete id="deletePageTemplateByIds">
        DELETE
        FROM t_page_template
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 根据主键id更新表t_page_template数据 -->
    <update id="updatePageTemplateById" parameterType="com.tinyengine.it.model.entity.PageTemplate">
        UPDATE t_page_template
        <set>
            <include refid="PageTemplateSetColumns"/>
        </set>
        WHERE
        id=#{id}
    </update>

    <!-- 新增表t_page_template数据 -->
    <insert id="createPageTemplate" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.tinyengine.it.model.entity.PageTemplate">
        INSERT INTO t_page_template ( id
        , name
        , page_content
        , framework
        , published
        , `public`
        , type
        , status
        , is_preset
        , image_url
        , description
        , platform_id
        , created_by
        , last_updated_by
        , created_time
        , last_updated_time
        , tenant_id
        , renter_id
        , site_id)
        VALUES ( #{id}
        , #{name}
        , #{pageContent}
        , #{framework}
        , #{published}
        , #{publicStatus}
        , #{type}
        , #{status}
        , #{isPreset}
        , #{imageUrl}
        , #{description}
        , #{platformId}
        , #{createdBy}
        , #{lastUpdatedBy}
        , #{createdTime}
        , #{lastUpdatedTime}
        , #{tenantId}
        , #{renterId}
        , #{siteId})
    </insert>
</mapper>
